.navbar {
    background-color: #757575;
}

.form-group {
    color: #ffffff;
}

.btn-group {
    color: #ffffff;
}

.card-image {
    display: none;
}

.lobby-games {
    color: #ffffff;
}

.messageBlockText {
    color: #ffffff;
}
