<!DOCTYPE html>
<html lang="en">
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='durak-game.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% block additional_stylesheets %}
    {% endblock %}
    <title>Durak</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='fabric-3.0.js') }}"></script>
</head>
{% endblock %}

{% block body %}
<body>
    {% block above_navbar_content %}
    {% endblock %}
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8DEBF0;">
        <a class="navbar-brand" href="#">Durak</a>
        {% block additional_navbar_content %}
            <ul class="navbar-nav mr-auto">
                {% block console_navbar_links %}
                {% endblock %}
            </ul>
            <a class="navbar-brand"> {{ email }} </a>
            <form method="get" action="/console/logout/">
                <button class="btn-default" type="submit" id="logoutButton">Logout</button>
            </form>
        {% endblock %}
    </nav>
    {% endblock %}
    {% block main_page_content %}
    <div class="container-fluid">
        {% block page_specific_content %}
        <row id="createGameBlock" style="display: none;">
            <h5>Select number of players for a new game:</h5>
            <div class="btn-group" id="numPlayers">
            <label class="radio-inline"><input type="radio" name="optradio" value="2" checked>   2   </label>
            <label class="radio-inline"><input type="radio" name="optradio" value="3">   3   </label>
            <label class="radio-inline"><input type="radio" name="optradio" value="4">   4   </label>
            <label class="radio-inline"><input type="radio" name="optradio" value="5">   5   </label>
            <label class="radio-inline"><input type="radio" name="optradio" value="6">   6   </label>
            </div>
            <button type="button" class="btn-primary" id="newGameButton">New Game</button>
        </row>

        <row id="messageBlock" style="display: none;">
            <p id="loadingText"></p>
            <button type="button" class="btn-warning" id="leaveGameButton">Leave Game</button>
            <button type="button" class="btn-danger" id="cancelGameButton">Cancel Game</button>
            <p id="logoutWarning"></p>
        </row>

        <row id="lobby" style="display: none;">
            <h5>Or Join a Game in the Lobby:</h5>
            <table class="table" id="openGamesTable">
            <thead>
                <tr>
                    <th>Game Creator</th>
                    <th>Number of Players</th>
                    <th>Remaining Spots</th>
                    <th>Join Game</th>
                </tr>
            </thead>
        </table>
        </row>
        <div id="game">
            <row id="GameStatus">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Game ID</th>
                            <th>Number of Players</th>
                            <th>On Attack</th>
                            <th>On Defense</th>
                            <th>Your Status</th>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>4</td>
                            <td>devan@adhiafunds.com</td>
                            <td>devan@random.com</td>
                            <td>Attacking</td>
                        </tr>
                    </thead>
                </table>
            </row>
            <row id="game" style="">
                <canvas id="durak-table" width="700" height="600" class="durak-table-style">
                </canvas>
            </row>
        </div>


        <script type="text/javascript" src="{{ url_for('static', filename = 'console-websocket-game.js') }}"></script>
        {% endblock %}
    </div>
    {% endblock %}

    {% block boostrap_javascript_sources %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% endblock %}
</body>
{% endblock %}
</html>