{% extends "layout.html" %}
{% block additional_javascript_sources %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='fabric-3.0.js') }}"></script>
<script src="{{ url_for('static', filename='durak-table-api.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'console-websocket.js') }}"></script>
{% endblock %}

{% block above_navbar_content %}
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_c_5.svg') }}" id="card-c5">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_c_6.svg') }}" id="card-c6">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_c_7.svg') }}" id="card-c7">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_c_8.svg') }}" id="card-c8">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_c_9.svg') }}" id="card-c9">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_c_10.svg') }}" id="card-c10">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_c_j.svg') }}" id="card-cj">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_c_q.svg') }}" id="card-cq">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_c_k.svg') }}" id="card-ck">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_c_a.svg') }}" id="card-ca">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_d_5.svg') }}" id="card-d5">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_d_6.svg') }}" id="card-d6">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_d_7.svg') }}" id="card-d7">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_d_8.svg') }}" id="card-d8">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_d_9.svg') }}" id="card-d9">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_d_10.svg') }}" id="card-d10">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_d_j.svg') }}" id="card-dj">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_d_q.svg') }}" id="card-dq">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_d_k.svg') }}" id="card-dk">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_d_a.svg') }}" id="card-da">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_s_5.svg') }}" id="card-s5">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_s_6.svg') }}" id="card-s6">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_s_7.svg') }}" id="card-s7">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_s_8.svg') }}" id="card-s8">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_s_9.svg') }}" id="card-s9">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_s_10.svg') }}" id="card-s10">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_s_j.svg') }}" id="card-sj">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_s_q.svg') }}" id="card-sq">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_s_k.svg') }}" id="card-sk">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_s_a.svg') }}" id="card-sa">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_h_5.svg') }}" id="card-h5">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_h_6.svg') }}" id="card-h6">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_h_7.svg') }}" id="card-h7">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_h_8.svg') }}" id="card-h8">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_h_9.svg') }}" id="card-h9">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_h_10.svg') }}" id="card-h10">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_h_j.svg') }}" id="card-hj">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_h_q.svg') }}" id="card-hq">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_h_k.svg') }}" id="card-hk">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/simple_h_a.svg') }}" id="card-ha">
<img class="card-image" src="{{ url_for('static', filename='playing_cards/back.svg') }}" id="card-back">
{% endblock %}

{% block additional_navbar_content %}
<ul class="navbar-nav mr-auto">
    {% block console_navbar_links %}
    {% endblock %}
</ul>
<a class="navbar-brand" style="color: #ffffff"> {{ screen_name }} </a>
<form method="get" action="/console/logout/">
    <button class="btn btn-default" type="submit">Logout</button>
</form>
{% endblock %}

{% block page_specific_content %}
    <row id="createGameBlock">
        <h5 style="color: #ffffff;">Select number of players for a new game:</h5>
        <div class="btn-group" id="numPlayers">
            <label class="radio-inline"><input type="radio" name="optradio" value="2" checked>   2   </label>
            <label class="radio-inline"><input type="radio" name="optradio" value="3">   3   </label>
            <label class="radio-inline"><input type="radio" name="optradio" value="4">   4   </label>
            <label class="radio-inline"><input type="radio" name="optradio" value="5">   5   </label>
            <label class="radio-inline"><input type="radio" name="optradio" value="6">   6   </label>
        </div>
            <button type="button" class="btn btn-default" id="newGameButton">New Game</button>
    </row>
    <row id="messageBlock" style="display: none;" class="messageBlockText">
        <p id="loadingText"></p>
        <button type="button" class="btn btn-warning" id="leaveGameButton">Leave Game</button>
        <button type="button" class="btn btn-danger" id="cancelGameButton">Cancel Game</button>
        <p id="logoutWarning"></p>
    </row>
    <row id="lobby">
        <h5 style="color: #ffffff;">Or Join a Game in the Lobby:</h5>
        <table class="table lobby-games" id="openGamesTable">
            <thead>
                <tr>
                    <th>Game Creator</th>
                    <th>Number of Players</th>
                    <th>Remaining Spots</th>
                    <th>Join Game</th>
                </tr>
            </thead>
        </table>
    </row>
    <row id="game" style="display: none;">
        <canvas id="durak-table" width="1400" height="750" class="durak-table-style"></canvas>
    </row>
{% endblock %}
